@page "/"

<PageTitle>Biblioteca Digital</PageTitle>

<div class="main-content">
    <h1>Bem-vindo à Biblioteca Digital</h1>
    <p>Este é o sistema de gerenciamento de livros, autores e gêneros.</p>

    <div class="resources">
        <h3>Explore os Recursos da Biblioteca</h3>
        <div class="cards">
            <div class="card">
                <h4>Gerenciar Autores</h4>
                <p>Visualize, adicione, edite e remova autores.</p>
                <a href="autores" class="btn">Acessar Autores</a>
            </div>
            <div class="card">
                <h4>Gerenciar Gêneros</h4>
                <p>Visualize, adicione, edite e remova gêneros literários.</p>
                <a href="generos" class="btn">Acessar Gêneros</a>
            </div>
            <div class="card">
                <h4>Gerenciar Livros</h4>
                <p>Visualize, adicione, edite e remova livros.</p>
                <a href="livros" class="btn">Acessar Livros</a>
            </div>
        </div>
    </div>

    <p>Navegue pelos links acima para gerenciar os recursos da biblioteca.</p>
</div>