@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="autores">Gerenciar Autores</a></li>
                <li><a href="generos">Gerenciar Gêneros</a></li>
                <li><a href="livros">Gerenciar Livros</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @Body
    </main>

    <footer>
        <p>&copy; 2024 Biblioteca Digital</p>
    </footer>
</div>